.profile {
  margin: 20px 0;
  padding: 0 20px;
  max-width: 100%;
}

.profile__avatar {
  width: 130px;
  height: 130px;
}

.profile__details {
  display: flex;
  flex-direction: row;
}

.profile__userinfo {
  margin-left: 40px;
}

.profile__label {
  color: gray;
  font-weight: 500;
  width: 150px;
}

.profile__error {
  color: red;
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  .profile {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    padding: 0 10px;
  }

  .profile__title {
    font-size: 1.2rem;
  }

  .profile__avatar {
    height: 60px;
    width: 60px;
  }

  .profile__userinfo {
    margin-left: 15px;
    font-size: 0.69rem;
  }
}

