.post {
  padding: 0 0;
  background-color: white;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  clear: both;
  overflow: hidden;
}

.post:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);
}

.post--display-detailed {
  background-color: #F0F2F5;
  box-shadow: none;
  border-radius: 0;
  margin: 0 0;
}

.post--display-detailed:hover {
  box-shadow: none;
}

.post__meta {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px 10px 15px;
}

.post__meta a {
  text-decoration: none;
}

.post__votes {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.post__vote-count {
  font-size: 0.8rem;
}

.post__see-votes {
  font-size: 0.8rem;
  margin-top: 10px;
  color: rgb(9, 106, 192);
}

.post__subheader {
  display: flex;
  font-size: 0.8rem;
  align-items: flex-end;
  flex-wrap: wrap;
}

.post__subheader a {
  color: rgb(9, 106, 192);
}

.post__link {
  margin-left: 3px;
}

.post__author {
  font-weight: 500;
  margin-right: 5px;
}

.post__coupon {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0;
  font-size: 1.2rem;
}

.post__coupon--display-detailed {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post__coupon-code {
  font-size: 1.2rem;
  padding: 2px 5px;
  font-family: monospace;
}

.post__footer {
  display: inline-flex;
  align-items: center;
  margin-top: auto;
}

.post__footer div {
  font-size: 0.8rem;
  font-style: italic;
  margin-right: 10px;
}

.post__content {
  text-align: left;
  padding: 10px;
  padding-left: 20px;
  margin-left: 75px;
}

.post__title {
  font-size: 1.2rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

.post__title--display-detailed {
  font-size: 1.5rem;
}

.post__description {
  margin-block-start: 10px;
  margin-block-end: 10px;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: justify;
}

.post__description--display-detailed {
  overflow: visible;
  white-space: normal;
  text-overflow: unset;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.8rem;
  display: block;
}

.post__content a {
  text-decoration: none;
  width: fit-content;
}

.post__content a:hover {
  text-decoration: underline;
}

.post__content a:active {
  color: rgb(9, 106, 192);
}

.post__image {
  object-fit: fill;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  margin: 0 0;
}

.post__image-wrapper {
  float: right;
  margin-left: 5px;
}

@media screen and (max-width: 650px) {
  .post__image {
    width: 100px;
    height: 100px;
  }

  .post__title {
    font-size: 1.1rem;
  }

  .post__footer div {
    font-size: 0.7rem;
  }

  .post__coupon-code {
    font-size: 1rem;
  }

}

@media screen and (max-width: 450px) {
  .post__image {
    width: 70px;
    height: 70px;
  }

  .post__title {
    font-size: 0.9rem;
  }

  .post__footer div {
    font-size: 0.5rem;
    margin-right: 5px;
  }

  .post__description {
    font-size: 0.8rem;
  }

  .post__subheader {
    font-size: 0.6rem;
  }

  .post__content {
    margin-left: 47px;
    padding-left: 5px;
  }

  .post__meta {
    margin: 10px 5px 5px 5px;
  }

  .post__vote-count {
    font-size: 0.6rem;
  }

  .post__coupon-code {
    font-size: 0.8rem;
  }

  .post__see-votes {
    font-size: 0.5rem;
  }
}