.search-results {
  margin: 0 0;
  padding: 0 20px 2.5rem 20px;
  max-width: 100%;
}

.search-results__list {
  margin: 0 0;
  padding: 0 0;
  max-width: 100%;
}

.search-results__error {
  color: red;
}

.search-results__title {
  padding: 0 0;
}

.search-results__info {
  color: rgb(9, 106, 192);
  padding: 0 0;
}

.search-results__info span{
  margin-right: 20px;
}

@media screen and (min-width: 1024px) {
  .search-results {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 650px) {
  .search-results__title {
    font-size: 1.3rem;
  }

  .search-results__info {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px) {
  .search-results__title {
    font-size: 1rem;
  }

  .search-results__info {
    font-size: 0.8rem;
  }

  .search-results {
    padding-left: 10px;
    padding-right: 10px;
  }
}
