.deal {
  height: 100%;
}

.deal__fields label {
  font-weight: 500;
}

.deal__fields span {
  color: red;
}

.deal__form-error {
  color: red;
  font-size: 12px;
}

.deal__header {
  font-size: 1.4rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  padding: 10px 40px;
  background-color: #cd6702;
}

.deal__fields {
  margin: 0;
  padding: 10px 0px 0px;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-left: 40px;
}

.deal__loading-message {
  font-size: 12px;
  color: rgb(9, 106, 192);
}

.deal__submit-button {
  display: flex;
  margin-left: 40px;
}

.deal__submit-error {
  margin-left: 0;
}

@media screen and (max-width: 950px) {
  .deal {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .deal__header {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .deal__fields {
    font-size: 0.8rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .deal__form-error {
    font-size: 0.7rem;
  }

  .deal__submit-button {
    margin-left: 20px;
  }
}