.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
  align-items: center;
  background-color: #cd6702;
  margin: 0;
  height: 60px;
  padding: 0 10px;
}

.logo {
  object-fit: contain;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-left: 20px;
}

.search input {
  height: 100%;
  border-style: none;
  width: 200px;
  padding: 0 10px;
  font-size: 15px;
}

.search input:focus {
  outline: none;
}

.header__filter {
  height: 80%;
  margin-left: auto;
  display: flex;
}

.search {
  height: 100%;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
