.footer {
  background-color: #292c2f;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  padding: 10px 10px;
  box-sizing: border-box;
}

.footer__header {
  font-size: 1.3rem;
  font-weight: bold;
}

.footer__name {
  width: 30%;
}

.footer__company-name {
  font-size: 2rem;
}

.footer__connections {
  width: 20%;
}

.social-connections__container {
  display: flex;
  flex-direction: row;
}

.social-connections__container a {
  margin-right: 20px;
  transition: 500ms;
}

.social-connections__container a:hover {
  transform: scale(1.2);
}

.about {
  width: 30%;
}

.about__description {
  text-align: justify;
  color: #92999f;
}

@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__name {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .footer__connections {
    width: 100%;
  }

  .footer__company-name {
    font-size: 1.5rem;
    text-align: center;
  }

  .footer__header {
    text-align: center;
    font-size: 1.1rem;
  }

  .about__description {
    font-size: 0.9rem;
    text-align: center;
  }

  .social-connections__container {
    justify-content: center;
  }
}