
.post-list__list {
  margin: 0 0;
  padding: 0 20px;
}

.post-list__error {
  color: red;
}

/* @media screen and (min-width: 1024px) {
  .post-list__list {
    width: 100%;
    margin: 0 auto;
  }
} */

@media screen and (max-width: 450px) {
  .post-list__list {
    padding: 0 5px;
  }
}