.detailed-post {
  margin: 0 0;
  padding: 0 20px 2.5rem 20px;
}

.comment-loader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detailed-post__load {
  margin-top: 10px;
  margin-bottom: 10px;
}

.detailed-post__error {
  color: red;
}

.comment-loader__button {
  cursor: pointer;
}

.comment-loader_text {
  color: rgb(9, 106, 192);
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .detailed-post {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 650px) {
  .detailed-post__comment-header {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 450px) {
  .detailed-post {
    padding: 0 10px 2.5rem 10px;
  }

  .detailed-post__comment-header {
    font-size: 1rem;
  }

  .comment-loader_text {
    font-size: 0.8rem;
  }

  .detailed-post__error {
    font-size: 0.8rem;
  }
}