.simple-post {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  margin: 10px 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.simple-post__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.simple-post__content a {
  text-decoration: none;
  width: fit-content;
}

.simple-post__content a:hover {
  text-decoration: underline;
}

.simple-post__content a:active {
  color: rgb(9, 106, 192);
}

.simple-post__title {
  font-size: 1.2rem;
  margin-block-start: 5px;
  margin-block-end: 5px;
  display: inline;
}

.simple-post__author {
  font-weight: 500;
  margin-right: 5px;
  font-size: 0.8rem;
  display: inline;
}

.simple-post__author::before {
  content: "";
  display: block;
  visibility: hidden;
}

.simple-post__author::after {
  content: "";
  display: block;
  visibility: hidden;
} 

.simple-post__footer {
  display: inline-flex;
  align-items: center;
  margin-top: auto;
}

.simple-post__footer div {
  font-size: 0.8rem;
  font-style: italic;
  margin-right: 10px;
}

.simple-post__votes {
  color: white;
  padding: 0 3px;
}

.simple-post__votes--positive {
  background-color: green;
}

.simple-post__votes--negative {
  background-color: red;
}

.simple-post__image {
  object-fit: fill;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}