.simple-post {
  padding: 10px 10px;
  margin: 10px 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  clear: both;
  overflow: hidden;
}

.simple-post a {
  text-decoration: none;
}

.simple-post a:hover {
  text-decoration: underline;
}

.simple-post a:active {
  color: rgb(9, 106, 192);
}

.simple-post__title {
  font-size: 1.2rem;
  margin-block-start: 5px;
  margin-block-end: 5px;
  display: inline;
}

.simple-post__author {
  font-weight: 500;
  display: inline;
}

.simple-post__author::before {
  content: "";
  display: block;
  visibility: hidden;
}

.simple-post__author::after {
  content: "";
  display: block;
  visibility: hidden;
} 

.simple-post__footer {
  display: inline-flex;
  align-items: center;
  margin-top: auto;
}

.simple-post__footer div {
  font-size: 0.8rem;
  font-style: italic;
  margin-right: 10px;
}

.simple-post__votes {
  color: white;
  padding: 0 3px;
}

.simple-post__votes--positive {
  background-color: green;
}

.simple-post__votes--negative {
  background-color: red;
}

.simple-post__image-container {
  float: right;
}

.simple-post__image {
  object-fit: fill;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.simple-post__subheader {
  display: flex;
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.simple-post__created-time {
  margin-left: 10px;
}

@media screen and (max-width: 450px) {
  .simple-post__image {
    width: 60px;
    height: 60px;
  }

  .simple-post__title {
    font-size: 0.9rem;
  }

  .simple-post__subheader {
    font-size: 0.7rem;
  }

  .simple-post__footer div {
    font-size: 0.6rem;
    margin-right: 7px;
  }
}